<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
			// we'll write all the socket stuff after the above line!
			$('#dojoForm').submit(function (){
				socket.emit("posting_form", { name: $("#name").val(), location: $("#location").val(), language: $("#language").val(), comment: $("#comment").val() })
				return false
			});
			socket.on("server", function(data) {
				$("#passedInfo").html("<h3> Name: " + data.name + "</h3> <h3> Location: " + data.location + "</h3> <h3> Favorite Language: " + data.language + "</h3> <h3> Comments: " + data.comment + "</h3> <h3> " + data.num + "</h3>" )
			});
			// 	var result = {
			// 		name: $('#name').val(),
			// 		location: $('#location').val(),
			// 		language: $('#language').val(),
			// 		comment: $('#comment').val()
			// 	};
			// 	socket.emit("posting_form", result);
			// 	return false
			// })
			// socket.on("server_response", function(data) {
            // document.getElementById("passedInfo").innerHTML = `name: ${data.name}, location: ${data.location}, language: ${data.language}, comment: ${data.comment}`;
            // document.getElementById("luckyNumber").innerHTML = `Your lucky number emitted by the server is ${data.number}.`
            // console.log(data.response);
        // })
    });
		
	</script>
	
	<title>Survey Form</title>
</head>
<body>
	<p id="passedInfo"></p>
	<p id="luckyNumber"></p>

	<div class="form-container">
	<form id = "dojoForm">
		<p>Your Name: <input type="text" name="name" id="name"></p>
		<p>Dojo Location: 
			<select name="location" id="location">
				<option value="San Jose">San Jose</option>
				<option value="Tulsa">Tulsa</option>
				<option value="Seattle">Seattle</option>
			</select>
		</p>
		<p>Favorite Language: 
			<select name="language" id="language">
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Swift">Swift</option>
			</select>
		</p>
		<p>Comment (optional):</p>
		<p><textarea name="comment" id="comment"></textarea></p>
		<input type="submit" value="Submit">
	</div>
	
	</form>
	
</body>
</html>